.clientContainer{
    width: 99.5%;
    height: 99%;
    margin: auto;
    border-radius: 5px;
}

.clientHeader{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid var(--separator);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clientHeader input{
    background-color: lightgray;
    color: gray;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-left: 20px;
}

.clientHeader button{
    height: 40px;
    width: 80px;
    color: white;
    margin-left: 10px;
}

.clientHeader button:hover{
    color: white;
}

.clientBody{
    height: 90%;
    width: 100%;
    margin-top: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clientDatatable th{
    background-color: lightgray;
}