.movementContainer{
    width: 99.5%;
    height: 99%;
    margin: auto;
    border-radius: 5px;
}

.moveHeader{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid var(--separator);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.moveHeader p{
    position: relative;
    margin-right: 20px;
    left: 20px;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.moveHeader input {
    position: relative;
    margin-right: 40px;
    left: 20px;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: gray;
    padding-left: 20px;
}

.moveBody{
    height: 80%;
    width: 100%;
    margin-top: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
}

.stockTable{
    background-color: lightgray;
    height: 100%;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.stockTable table th{
    background-color: rgb(184, 184, 184);
}

.saleTable{
    background-color: lightgray;
    width: 47%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.saleTable table th{
    background-color: rgb(184, 184, 184);
}

.moveFooter{
    height: 10%;
    width: 100%;
    margin: auto;
    display: flex;
}

.footerSale{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.footerSale button{
    height: 40px;
    margin-right: 5px;
}

.footerSale select{
    background-color: lightgray;
    color: gray;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    margin-left: 10px;
}


.footerStock{
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.footerStock button{
    height: 40px;
    margin-right: 5px;
}

.footerStock input{
    background-color: lightgray;
    color: gray;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    padding-left: 20px;
    margin-left: 10px;
}