.productContainer{
    width: 99.5%;
    height: 99%;
    margin: auto;
    border-radius: 5px;
}

.prodHeader{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid var(--separator);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prodBody{
    height: 85%;
    width: 100%;
    margin-top: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.prodFooter{
    height: 5%;
    width: 100%;
}

.prodFooter p{
    height: 100%;
    width: 100%;
    font-size: 25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#inputProduct{
    background-color: lightgray;
    color: gray;
    border: none;
    outline: none;
    height: 40px;
    margin-right: 10px;
    padding-left: 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

#buttonProduct{
    height: 40px;
    width: 80px;
    color: white;
    margin-right: 10px;
}