.saleContainer{
    width: 99.5%;
    height: 99%;
    margin: auto;
    border-radius: 5px;
}

.saleHeader{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid var(--separator);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saleBody{
    height: 90%;
    width: 100%;
    margin-top: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}