<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../components/_Links.ejs')%>
    <link rel="stylesheet" href="../../Css/Base.css">
    <title>Sign In</title>
</head>
<body>
        <%-include('./partials/_signin.ejs')%>
        <%-include('./partials/_signup.ejs')%>
</body>
<%-include('../components/_Scripts.ejs')%>
</html>