:root {
    --background: #6dc7c4;
    --font: gray;
    --input: #82ccdd;
    --input-focus: #38ada9;
}


::placeholder {
    color: var(--font);
}

body {
    background-color: var(--background);
    color: gray;
}

form{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Login---------------------------------------------------------------------------------------- */
#loginForm {
    height: 400px;
    width: 400px;
    margin-top: 100px;
    position: relative;
    color: var(--font);
    visibility: visible;
}

#loginForm.show{
    visibility: hidden;
}


#loginForm .row {
    width: 100%;
    margin: auto;
}

#inputForm {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--input);
    height: 40px;
    padding-left: 20px;
    color: var(--font);
    transition: all 0.3s;
}

#inputForm:focus {
    border-bottom: 2px solid var(--input-focus);
    transition: all 0.3s;
}

#loginForm button {
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--input);
    color: var(--font);
    transition: all 0.3s;
}

#loginForm button:hover {
    background-color: var(--input);
    color: white;
    transition: all 0.3s;
}

#loginForm a{
    text-decoration: none;
    color: #60a3bc;
    outline: none;
    transition: all 0.3s;
}

#loginForm a:hover{
    color: #3c6382;
    outline: none;
    transition: all 0.3s;
}

/* Register------------------------------------------------------------------------------------------------ */

#registerForm{
    height: 450px;
    width: 420px;
    margin-top: 100px;
    color: var(--font);
    visibility: hidden;
}

#registerForm.show{
    visibility: visible;
}

#registerForm .row{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#registerForm input{
    width: 45%;
    margin: auto;
}


#registerForm select{
    background-color: transparent;
    border: 2px solid var(--input);
    color: gray;
    height: 40px;
    width: 45%;
    margin: auto;
    border-radius: 50px;
    outline: none;
}

.backButton{
    position: absolute;
    height: 50px;
    width: 50px;;
    left: 0;
    z-index: 2;
    border: none;
    outline: none;
    color: #82ccdd;
    background-color: transparent;
}

.regButton{
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--input);
    color: var(--font);
    transition: all 0.3s;
}

.regButton:hover {
    background-color: var(--input);
    color: white;
    transition: all 0.3s;
}