<form action="">
    <div class="card mx-auto" id="registerForm">
        <div class="row">
            <button class="backButton mt-3"><box-icon type='solid' color="#82ccdd" name='left-arrow'></box-icon></button>
            <h3 class="w-100 mt-3 text-center position-absolute">Sign Up</h3>
        </div>
        <div class="row">
            <input type="text" placeholder="FirstName" id="inputForm">
            <input type="text" placeholder="LastName" id="inputForm">
        </div>
        <div class="row">
            <input type="text" placeholder="Dni" id="inputForm">
            <input type="text" placeholder="E-mail" id="inputForm">
        </div>
        <div class="row">
            <input type="date" id="inputForm">
            <select name="" id="">
                <option value="Seleccione su identidad de genero" selected>Seleccione su identidad de genero</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="No binario">No binario</option>
            </select>
        </div>
        <div class="row">
            <input type="password" placeholder="Password" id="inputForm">
            <input type="password" placeholder="Confirm Password" id="inputForm">
        </div>
        <div class="row w-100">
            <button class="regButton w-75">Register</button>
        </div>
    </div>
</form>