<form action="">
    <div class="card mx-auto" id="loginForm">
        <div class="row h-25">
            <h3 class="w-100 mt-3 text-center">Sign In</h3>
        </div>
        <div class="row h-75">
            <input type="text" class="mx-auto w-75 mt-4" placeholder="UserName" id="inputForm">
            <input type="password" class="mx-auto w-75 mt-4" placeholder="Password" id="inputForm">
            <button class="w-75 mx-auto">Entrace</button>
        </div>
        <div class="row h-25">
            <a class="w-100 text-center">You haven´t an account?</a>
            <a class="w-100 text-center">You forgot your password?</a>
        </div>
    </div>
</form>
