<div class="sidebar">
    <div class="header">
        <button>
            <i class='bx bxs-right-arrow'></i>
        </button>
    </div>
    <ul class="item_list">
        <li>
            <a href="">
                <i class='bx bxs-box'></i>
                <span>Products</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class='bx bxs-add-to-queue' ></i>
                <span>New Product</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class='bx bxs-objects-vertical-bottom'></i>
                <span>Movement</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class='bx bxs-purchase-tag' ></i>
                <span>Update Price (Sale/Buy)</span>
            </a>
        </li>
        <li class="logout">
            <a href="/singout">
                <i class='bx bx-log-out' ></i>
                <span>Log-Out</span>
            </a>
        </li>
    </ul>
</div>