<div class="sidebar">
    <div class="header">
        <button>
            <i class='bx bxs-right-arrow'></i>
        </button>
    </div>
    <ul class="item_list">
        <li class="productsView">
            <a>
                <i class='bx bxs-box'></i>
                <span>Products</span>
            </a>
        </li>
        <li class="movementView">
            <a>
                <i class='bx bxs-objects-vertical-bottom'></i>
                <span>Movements</span>
            </a>
        </li>
        <li>
            <a class="clientView">
                <i class='bx bxs-user' ></i>
                <span>Client support</span>
            </a>
        </li>
        <li>
            <a class="saleView">
                <i class='bx bx-cart-download' ></i>
                <span>Sales</span>
            </a>
        </li>
        <li class="logout">
            <a href="">
                <i class='bx bx-log-out' ></i>
                <span>Log-Out</span>
            </a>
        </li>
    </ul>
</div>