<div class="clientContainer">
    <div class="clientHeader">
        <input type="text" placeholder="FirstName">
        <input type="text" placeholder="LastName">
        <input type="text" placeholder="Alias">
        <input type="number" placeholder="UidSerie">
        <input type="number" placeholder="Email">
        <input type="number" placeholder="Phone">
        <button class="btn btn-success">Add</button>
        <button class="btn btn-warning">Update</button>
        <button class="btn btn-danger">Delete</button>
    </div>
    <div class="clientBody">
       <div class="datatableContainer">
        <table class="clientDatatable" id="clientDatatable">
            <thead>
                <th>Code</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Alias</th>
                <th>Email</th>
                <th>DNI</th>
                <th>Phone</th>
            </thead>
            <tbody>
            </tbody>
        </table>

       </div>
    </div>
</div>