<div class="movementContainer">
    <div class="moveHeader">
        <div class="filterDate w-50 h-100">
            <p>From: </p>
            <input type="date">
            <p>To: </p>
            <input type="date">
            <button class="btn btn-success">Filter</button>
        </div>
        <div class="filterProduct w-50 h-100">
            <select name="" id="">
                <option value="Select a product" selected>Select a product</option>
            </select>
            <button class="btn btn-success">Search</button>
        </div>
    </div>
    <div class="moveBody">
        <%- include('../../elements/Graphics/chartPanel.ejs')%>
    </div>
</div>

