<div class="movementContainer">
    <div class="moveHeader">
        <button class="Add btn btn-success" id="buttonProduct">Buy</button>
        <button class="btn btn-warning" id="buttonProduct">Update</button>
        <button class="btn btn-danger" id="buttonProduct">Delete</button>
    </div>
    <div class="moveBody">
        
    </div>
</div>