<div class="productContainer w-100 h-100">
    <div class="prodHeader">

    </div>
    <div class="prodBody">

        <div class="datatable">
            <table id="DataGridView">
                <thead>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Compra
                    </th>
                    <th>
                        Venta
                    </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>