<div class="saleContainer">
    <div class="saleHeader">
        <p class="capitalValue"></p>
    </div>
    <div class="saleBody">
        <div class="stockTable">
            <table class="stock w-100 h-100" id="DataGridStock">
                <thead>
                    <th style="width: 5%;">Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Units</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="saleTable">
            <table class="sale w-100 h-100" id="DataGridSale">
                <thead>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Units</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="saleFooter">
        <div class="footerStock h-100 w-50">
            <button class="addProduct btn btn-success">Add</button>
            <input type="number" id="addUnits" placeholder="Units">
        </div>
        <div class="footerSale h-100 w-50">
            <button class="btn btn-success" id="Process">Process</button>
            <button class="btn btn-danger" id="Delete">Delete</button>
            <button class="btn btn-danger" id="Abort">Abort</button>
            <select name="selectClient" class="selectClient" id="selectClient">
                <option value="0" selected>Select a client</option>
            </select>
        </div>
    </div>
</div>