<div class="chartContainer w-100 h-100">
    <div class="balance d-flex h-50 w-100">
        <div class="balanceSale h-100 w-50 d-flex">
            <canvas id="balanceBuySale"></canvas>
            <div class="values d-block w-50 h-100 mt-5 ms-3">
                <p>Sales: </p>
                <p>Buys: </p>
                <p>In Stock: </p>
            </div>
        </div>
        <div class="balanceProduct h-100 w-50 d-flex">
            <canvas id="balanceByProduct"></canvas>
            <div class="values d-block w-50 h-100 mt-5 ms-3">
                <p>Amount of sales: </p>
                <p>Amount of buys: </p>
                <p>Amount in stock: </p>
            </div>
        </div>
    </div>
    <div class="statistics h-50 w-100 d-flex">
        <canvas id="balanceCapital"></canvas>
        <div class="values d-block w-50 h-100 mt-5 ms-3">
            <p>Input margin of the month: </p>
            <p>Output margin of the month: </p>
        </div>
    </div>
</div>